{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COVENBIINS - {% block titul %}...{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'covenbiins/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'covenbiins/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'covenbiins/favicon_io/favicon-16x16.png' %}">
    <!--<link rel="manifest" href="{% static 'covenbiins/favicon_io/site.webmanifest' %}">-->

    <link rel="stylesheet" href="{% static 'covenbiins/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'covenbiins/css/bootstrap.min.css' %}" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a href="{% url 'covenbiins:index' %}" class="navbar-brand"><img
                    src="{% static 'covenbiins/img/logoPrincipal.png' %}" alt="logoPrincipal" width="170px"
                    height="40px"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="MenuNavegacion">
                <form class="container-fluid d-flex justify-content-end">
                    <div id="MenuNavegacion" class="nav navbar-nav">
                        <ul class="navbar-nav me-auto navbar">
                            <li class="nav-item">
                                <a class="nav-link invisible" href="{% url 'covenbiins:listar_ratings' %}">Ratings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'covenbiins:listar_inmuebles' %}">Inmuebles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'covenbiins:listar_usuarios' %}">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'covenbiins:listar_citas' %}">Citas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'covenbiins:listar_aprobaciones' %}">Aprobaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'covenbiins:logout' %}">Cerrar Sesion</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <button id="boton_principal" type="button">PUBLICA TU INMUEBLE</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </nav>
     {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
            <div>{{ message }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}


    {% block contenedor %}

    {% endblock %}
    
     <!-- JS include start here -->
     <script src="{% static 'covenbiins/js/library.js' %}"></script>
     <script src="{% static 'covenbiins/js/bootstrap.bundle.min.js' %}"></script>
     <!-- fin - JS include -->
 </body>
 </html>