{% extends 'covenbiins/base.html' %}

{% load static %}

{% block titul %} Chat {% endblock %}

{% block contenedor %}

<section style="background-color: #eee;">
    <div class="container_chat">
        <div class="col">
            <div class="card">
                <div class="m-3">
                    <div class="card-body">
                        <div class="row">
                            <h1>Chat con {{ otro.nombre }}</h1> <hr>
                            {% for c in chat %}
                                {% if c.usuario_origen.cedula == request.session.logueo.cedula %}
                                    <div class="mensaje_origen rounded mt-1"><strong>{{ c.mensaje }}</strong><br><span style="float: right">{{ c.fecha|date:"d M Y H:i:s"}}</span></div>
                                {% else %}
                                    <div class="mensaje_destino rounded mt-1"><strong>{{ c.mensaje }}</strong><br><span style="float: right">{{ c.fecha|date:"d M Y H:i:s" }}</span></div>
                                {% endif %}
                            {% endfor %}
                            <form action="{% url 'covenbiins:add_chat' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="destino" value="{{ otro.cedula }}"/>
                                <input class="mt-3 rounded" type="text" name="mensaje" placeholder="Mensaje">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>  
        </div>           
    </div>
</section>

{% endblock %}